<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hylg.igolf"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="108"
    android:versionName="v1.4.4" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="20" />
    
    <permission android:name="com.hylg.igolf.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.hylg.igolf.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    
    <!-- share sdk 权限 -->
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	
	<!-- 蓝牙分享所需的权限 -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name="com.hylg.igolf.MainApp" >
        
          <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="648ab2c5d76705f81848b1c17e3d3f18"/>
          
           <activity
            android:name="com.hylg.igolf.ui.friend.FriendHotActivity"
        	android:theme="@style/NoTitleFullBaseTheme" >
        	</activity>
        
        <activity
            android:name="com.hylg.igolf.ui.SplashActivity"
        	android:theme="@style/NoTitleFullBaseTheme"

        	android:screenOrientation="portrait"
            android:label="@string/app_name" >
            
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          
        </activity>
        
        <activity android:name=".ui.UserGuideActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="portrait" />
         
        <activity android:name=".ui.MainActivity" android:theme="@style/NoTitleBaseTheme"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" android:screenOrientation="portrait" >
        
         </activity>

        <!-- account -->
        <activity android:name=".ui.account.LoginActivity" android:theme="@style/NoTitleBaseTheme" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity  android:name=".ui.account.AgreementActivityActivity" android:theme="@style/TranslucentTheme"  android:screenOrientation="portrait" />
        <activity  android:name=".ui.account.PhoneSubmitActivity" android:theme="@style/TranslucentTheme"  android:screenOrientation="portrait" />
        <activity android:name=".ui.account.PhoneVerifyActivity" android:theme="@style/TranslucentTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.account.InfoSetupActivity" android:theme="@style/TranslucentTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.account.ResetPwdActivity" android:theme="@style/TranslucentTheme" android:screenOrientation="portrait" />
               
        <!-- golfers -->
        <activity android:name=".ui.golfers.GolfersListActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity  android:name=".ui.golfers.GolfersSearchResultActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        
        <!-- coach -->
        <activity android:name=".ui.coach.CoachApplyInfoActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.coach.CoachListActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ui.coach.CoachInfoDetailActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ui.coach.CoachInviteActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ui.coach.CoachCommentsListActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ui.coach.CoachInviteOrderDetailActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.coach.CoachMyTeachingActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.coach.CoachInviteAgainActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        
        <!-- hall -->
        <activity android:name=".ui.hall.InviteDetailActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.InviteDetailOpenOtherActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.InviteDetailOpenMineActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.InviteDetailOtherOpenActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.InviteDetailOtherStsActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.InviteDetailMyOpenActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.InviteDetailMyStsActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.CourseSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.CourseAllSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.OpenInviteListActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.StartInviteOpenActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.StartInviteStsActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.hall.InvitePlanActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        
        <!-- member -->
        <activity android:name=".ui.member.MemDetailActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.member.MemDetailActivityNew" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.member.MemFightRecordActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.member.MemScoreHistoryActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        
        <!-- customer -->
        <activity android:name=".ui.customer.AboutIgolfActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.InviteHistoryActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.ModifyInfoActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.ModifyPwdActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.ModifySignatureActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.SysMsgActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.SysMsgDetailActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.RebindPhoneActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.VerifyPwdActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.MyFollowerActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.MyAttentionsActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.MyPraiseActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.CustomerHomeActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.MyBalanceRecordActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.BindCardActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.customer.ToCashActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />

        <!-- common -->
        <activity android:name=".ui.common.LabelSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.RegionSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.RegionCourseSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.RegionInfoSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.RegionFilterSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.IndustrySelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.SexSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.StakeSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.PayTypeSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.TeeTimeSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.TeeDateSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.AgeSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.YearsExpSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.HourExpSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.ImageSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.AlbumSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.ScorecardPagerActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.CoacherSortItemSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        <activity android:name=".ui.common.CoacherTypeSelectActivity" android:theme="@style/activity_dialog_style" android:screenOrientation="portrait" />
        
        <activity android:name=".ui.common.AlbumPagerActivity" android:theme="@style/NoTitleBaseTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|stateUnspecified" />
        
        
        <!-- image picker -->
        <activity android:name=".imagepicker.ImageGridActivity" android:screenOrientation="portrait" />
        
        <!-- friend -->
        <activity android:name=".ui.friend.FriendMessageNewActivity" android:screenOrientation="portrait" android:launchMode="singleTask" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".ui.friend.CameraActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:screenOrientation="portrait" />
        <activity android:name=".ui.friend.PhotoViewActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.friend.FriendNewTipsCountActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.friend.FriendTipsDetailActivity" android:screenOrientation="portrait" />
         
        <!-- friend_location_select -->
        <activity android:name=".ui.friend.FriendLocationSelectActivity" android:screenOrientation="portrait" />
        
        
         <!-- Required  SDK核心功能-->
        <service
            android:name="com.hylg.igolf.HdService"
            android:enabled="true"
            android:exported="false" >

        </service>
        
        
        <!-- third part -->
		<receiver android:name=".broadcast.HylgReceiver">
			<!-- network status monitor -->
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
			</intent-filter>
		</receiver>
		
		<!-- 极光推送 -->
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.hylg.igolf" />
            </intent-filter>
        </activity>
        
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        
        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                
            </intent-filter>
        </service>
        
        <!-- Required SDK核心功能-->
        <receiver
            tools:ignore="ExportedReceiver"
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
             <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.hylg.igolf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
             <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
   
        </receiver>
        
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            tools:ignore="ExportedReceiver"
            android:name="com.hylg.igolf.jpush.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <category android:name="com.hylg.igolf" />
            </intent-filter>
        </receiver>		
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
         <!-- <meta-data android:name="JPUSH_APPKEY" android:value="3a9217266de68a2b339521dd" /> </>值来自开发者平台取得的AppKey-->
       <meta-data android:name="JPUSH_APPKEY" android:value="05d9f51e0d5a55b371505701" /> <!--   </>值来自开发者平台取得的AppKey-->
       
       
      <!-- 第三方 qq 开放平台 -->
      	<activity
			android:name="com.tencent.tauth.AuthActivity" 
			android:noHistory="true" 
			android:launchMode="singleTask" >
			<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="1104649528" />
			</intent-filter>
		</activity>
		
      	<activity 
      	    android:name="com.tencent.connect.common.AssistActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="orientation|keyboardHidden|screenSize" />
      	
      	
		
		<activity
			android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
			android:configChanges="keyboardHidden|orientation"
			android:windowSoftInputMode="adjustResize"
			android:exported="false" >
		</activity>
		
		<activity
			android:name="com.hylg.igolf.WBShareActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait" >
			<intent-filter>
			<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
			<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<!-- share sdk 一键分享 
		<activity
			android:name="cn.sharesdk.framework.ShareSDKUIShell"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:windowSoftInputMode="stateHidden|adjustResize" >
			<meta-data
				android:name="Adapter"
				android:value="cn.sharesdk.demo.MyAdapter" />
			<intent-filter>
			<data android:scheme="db-7janx53ilz11gbs" />
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.BROWSABLE" />
			<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			 android:name="com.mob.tools.MobUIShell"
			 android:theme="@android:style/Theme.Translucent.NoTitleBar"
			 android:configChanges="keyboardHidden|orientation|screenSize"
			 android:screenOrientation="portrait"
			 android:windowSoftInputMode="stateHidden|adjustResize" >
			 <intent-filter>
			 <data android:scheme="tencent100371282" />
			 <action android:name="android.intent.action.VIEW" />
			 <category android:name="android.intent.category.BROWSABLE" />
			 <category android:name="android.intent.category.DEFAULT" />
			 </intent-filter>
		</activity>
		
		-->
		
		
		<!-- 微信回调 -->
		<activity
			 android:name=".wxapi.WXEntryActivity"
			 android:theme="@android:style/Theme.Translucent.NoTitleBar"
			 android:configChanges="keyboardHidden|orientation|screenSize"
			 android:exported="true"
		android:screenOrientation="portrait" />
		
		<!-- Ping++ SDK 注册 -->
		<activity
		    android:name="com.pingplusplus.android.PaymentActivity"
		    android:launchMode="singleTop"
		    android:configChanges="orientation|screenSize"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<!-- 微信支付注册 -->
		<activity-alias
		    android:name=".wxapi.WXPayEntryActivity"
		    android:exported="true"
		    android:targetActivity="com.pingplusplus.android.PaymentActivity" />
		<!-- 支付宝注册 -->
		<activity
		    android:name="com.alipay.sdk.app.H5PayActivity"
		    android:configChanges="orientation|keyboardHidden|navigation"
		    android:exported="false"
		    android:screenOrientation="behind" />
		<activity
		    android:name="com.alipay.sdk.auth.AuthActivity"
		    android:configChanges="orientation|keyboardHidden|navigation"
		    android:exported="false"
		    android:screenOrientation="behind" />

        <!--umeng  -->
        <meta-data android:value="561e177b67e58e87bb00345c" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>